* {
	box-sizing: border-box;
	font-family: "Comic Sans MS", "Comic Sans";
}

.todo-app {
	width: 1150px;
	padding-left: 10%;
	margin: 2% auto;
	padding-right: 10%;
}

@media only screen and (max-width: 1024px) {
	.todo-app {
		width: 100%;
		margin-top: 2%;
		margin: 0;
		padding-left: 10%;
		padding-right: 10%;
	}
}

/* Single ToDo element*/
.todo {
	display: table;
	width: 100%;
	margin-top: 2%;
	align-items: center;
	border: 3px;
	border-style: solid;
	border-radius: 10px;
	border-color: #28282b;
	padding-right: 3%;
}

.todo .text {
	display: table-cell;
	vertical-align: middle;
	padding: 1%;
	width: 86%;
	font-size: 90%;
	border: 3px;
	border-right-style: solid;
	border-right-color: #28282b;
}

.icons {
	display: table-cell;
	font-size: 120%;
	padding-top: 0.5%;
	padding-left: 2%;
	text-align: right;
	width: 3%;
	vertical-align: middle;
}

.wrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}

@media only screen and (max-width: 1024px) {
	.todo {
		margin-top: 7%;
		width: 100%;
		padding-right: 2%;
	}

	.icons {
		width: 7%;
		font-size: 100%;
	}

	.todo .text {
		padding: 2%;
		padding-left: 4%;
	}
}
/* ----------------- */
