* {
	box-sizing: border-box;
	font-family: "Comic Sans MS", "Comic Sans";
}

.todo-app {
	width: 100%;
	padding-left: 25%;
	padding-right: 25%;
}

/* Single ToDo element*/
.todo {
	display: flex;
	margin-top: 5%;
	align-items: center;
	border: 3px;
	border-style: solid;
	border-radius: 10px;
	border-color: #28282b;
}

.todo .text {
	width: 80%;
	padding: 2%;
	padding-left: 5%;
	border-right: 3px;
	border-right-style: solid;
	border-color: #28282b;
}

.icons {
	flex: 1;
	font-size: 120%;
	text-align: center;
	padding: 1%;
	vertical-align: middle;
}

.wrap {
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* IE */
}
/* ----------------- */
